<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911122000942-709b7i8dnqj01m6m58kdupr8hkuat49h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911122000942-709b7i8dnqj01m6m58kdupr8hkuat49h</string>
	<key>API_KEY</key>
	<string>AIzaSyBXUnkso7pVPRtpdXAazdO8if60ttBSDrw</string>
	<key>GCM_SENDER_ID</key>
	<string>911122000942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.olexampaperhub</string>
	<key>PROJECT_ID</key>
	<string>ol-exam-paper-hub</string>
	<key>STORAGE_BUCKET</key>
	<string>ol-exam-paper-hub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911122000942:ios:24d4bfaa6246da7b86c3bf</string>
</dict>
</plist>